@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@font-face {
    font-family: "Monoton";
    src: url("../font/Monoton.ttf");
}

body {
    background-image: url("../img/background.jpg");
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-size: cover;
    flex-direction: column;
}

.container {
    min-width: 30%;
    background-color: rgba(79, 81, 94, 0.3);
    backdrop-filter: blur(10px);
    color: white;
    padding: 40px;
    border-radius: 10px;
}

header {
    font-family: "Monoton", cursive;
    text-transform: uppercase;
    width: calc(100% - 7px);
    float: left;
    position: absolute;
    top: 0;
    color: chartreuse;
    padding-left: 7px;
    font-size: 22px;
}
h1 {
    font-weight: 1;
    margin: 0;
}

h2 {
    margin-top: 0;
}

input {
    margin: 0 0 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 2px;
    color: black;
    width: 100%;
    padding: 5px 0 5px 0; /* 5px 0 juste ?*/
}

.input {
    -webkit-box-shadow: inset 0 0 13px 5px rgba(0,0,0,0.19);
    box-shadow: inset 0 0 13px 5px rgba(0,0,0,0.19);
}

label {
    margin-top: 20px;
    font-size: 20px;
}
.radio {
    width: auto;
}

.button:hover {
    background: white;
    color: #42c431;
    cursor: pointer;
    transform: scale(1.02);
}

.container-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.button {
    background: #42c431;
    border: none;
    color: #F0F0F0FF;
    transition: 0.2s all;
    padding: 12px 24px 12px 24px; /*12px 24px ?*/
    font-size: 20px;
    border-radius: 3px;
    height: auto;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: #42c431;
    text-decoration: none;
    font-size: 20px;
}

.right {
    float: right;
}

.cancel {
    background: white;
    color: black;
    opacity: 0.6;
}

.cancel:hover {
    background: white;
    opacity: 0.8;
    color: red;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 12vw;
    border:dotted 2px rgb(56, 56, 56);
    border-radius:8px;
}
  
.btn {
    border :none;
    color: rgb(56, 56, 56);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 8px 20px;
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}
