@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

@font-face {
    font-family: "Alegreya";
    src: url("../font/AlegreyaSansSC.ttf");
}

.error {
    position: fixed;
    transform: translate(0, -50%);
    transition: 1s;
    background: rgba(255, 0, 0, 0.5);
    color: white;
    font-size: 20px;
    padding: 30px;
    border-radius: 20px;
    bottom: 0;
}



.activity-table{
    z-index: 5;
    max-width: 500px;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 40px !important;

}

.activity-table th{
    color: #3eb42e;
    font-family: "Nunito Sans", sans-serif;
}


.activity-table table {
    background: rgba(255, 255, 255, 0.5);
border-radius: 20px;
    border-width: 0;
}


::-webkit-scrollbar{
    width: 13px;
    height: 13px;
}
::-webkit-scrollbar-thumb{
    background: #3eb42e;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(62, 180, 46, 0.5);
}
::-webkit-scrollbar-track{
    background: #F0F0F0;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
}



.header-btn {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 15px;
    min-width: 40px;
    color: #3eb42e;
    height: 40px;
    background: transparent;
    border-radius: 1000px;
    border: solid 2px #fff;
    position: relative;
    transition: 0.3s;
    filter: invert(52%) sepia(92%) saturate(427%) hue-rotate(66deg) brightness(101%) contrast(86%);
}

@media (max-width: 1200px) {
    nav {
        clip-path: circle(0 at calc(100vw - 27px) calc(40px));
        display: flex !important;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        justify-content: space-evenly !important;
        transition: 1s;
        flex-direction: column !important;
        background: #383838;
        z-index: 0;
    }
    .container{
        width: 70% !important;
        max-width: unset !important;
        min-width: unset !important;

    }

    .container h2 {
        font-size: 18px !important;
    }
    /*.header-btn {*/
    /*    font-family: "Nunito Sans", sans-serif;*/
    /*    font-size: 30px;*/
    /*    font-weight: 400;*/
    /*    margin-left: 15px;*/
    /*    min-width: 80px;*/
    /*    color: #3eb42e;*/
    /*    height: 80px;*/
    /*    background: transparent;*/
    /*    border-radius: 1000px;*/
    /*    border: solid 2px #fff;*/
    /*    position: relative;*/
    /*    transition: 0.3s;*/
    /*    filter: invert(52%) sepia(92%) saturate(427%) hue-rotate(66deg) brightness(101%) contrast(86%);*/

    /*}*/
    /*.header-btn::before {*/
    /*    content: "";*/
    /*    position: absolute;*/
    /*    top: 0;*/
    /*    left: 0;*/
    /*    width: 100%;*/
    /*    height: 100%;*/
    /*    background-size: 40px !important;*/


    nav.toggle {
        clip-path: circle(200% at calc(100vw - 27px) calc(40px));
    }



    /*.header-login{*/
    /*    padding:0 40px 0 40px !important;*/
    /*}*/

    /*.header-btn::after {*/

    /*    padding-left: 40px !important;*/
    /*    width: auto !important;*/
    /*    padding-right: calc(100% + 40px) !important;*/

    /*}*/
    header{
        z-index: 10;
    }
    /*.container {*/

    /*    margin-top: 160px !important;*/
    /*    margin-bottom: 40px !important;*/
    /*}*/
}

@media (min-width: 1201px) {
    .header-burger {
        display: none !important;
    }
}
.header-btn::after {

    padding-left: 20px ;
    width: auto;
    padding-right: calc(100% + 20px) ;

}
.header-burger {
    z-index: 1000;
}

.header-burger.toggle {
    z-index: 1000;
}

.header-burger::before {
    background-image: url("../img/hamburger.svg");
}

.header-btn:hover {
    color: #fff;
    filter: none;
    background: #3eb42e;
    border: solid 2px #3eb42e;
    cursor: pointer;
}

.bg-image {
    background-image: url("../img/background.jpg");
}

.header-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(52%) sepia(92%) saturate(427%) hue-rotate(66deg) brightness(101%) contrast(86%);
    transition: 0.1s;
}

.header-btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(321deg) brightness(98%) contrast(112%);
}

.header-login {
    padding: 0 20px 0 20px;
}

.header-account::before {
    background-image: url("../img/account.svg");
}

.header-account::after {
    content: "Account";
    color: #3eb42e;
    position: absolute;
    top: -2px;
    right: -2px;
    height: 100%;
    align-items: center;
    display: flex;
    border: 2px solid;
    border-radius: 1000px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.header-account:hover::after {
    opacity: 1;
}

.header-account:hover {
    margin-left: 120px;
}

.header-home::before {
    background-image: url("../img/home.svg");
}

.header-home::after {
    content: "Home";
    color: #3eb42e;
    position: absolute;
    top: -2px;
    right: -2px;
    height: 100%;
    align-items: center;
    display: flex;
    border: 2px solid;
    border-radius: 1000px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.header-home:hover::after {
    opacity: 1;
}

.header-home:hover {
    margin-left: 100px;
}

.header-upload::after {
    content: "Upload";
    color: #3eb42e;
    position: absolute;
    top: -2px;
    right: -2px;
    height: 100%;
    align-items: center;
    display: flex;
    border: 2px solid;
    border-radius: 1000px;
    text-align: center;
    opacity: 0;
    transition: 0.3s;
}

.header-upload:hover::after {
    opacity: 1;
}

.header-upload:hover {
    margin-left: 120px;
}

.header-logout::after {
    content: "Logout";
    color: red;
    position: absolute;
    top: -2px;
    right: -2px;
    height: 100%;
    align-items: center;
    display: flex;
    border: 2px solid;
    border-radius: 1000px;
    text-align: center;
    opacity: 0;
}

.header-logout:hover::after {
    opacity: 1;
}

.header-logout:hover {
    margin-left: 120px;
}

.header-btn::after {
    pointer-events: none;
}

.header-btn:hover::after {
    pointer-events: all;
}

.header-logout::before {
    background-image: url("../img/logout.svg");
}

.header-logout:hover {
    background: red;
    border: red 2px solid;
}

.header-upload::before {
    background-image: url("../img/upload.svg");
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#myVideo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
}

header {
    font-weight: 100;
    font-family: "Alegreya", cursive;
    width: calc(100% - 14px);
    float: left;
    left: 0;
    position: absolute;
    top: 0;
    color: #3eb42e;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
}

body:after {
    background-image: url("../img/noise.png");
    background-size: 500px;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
    opacity: 1;
    height: 100%;
    width: 100%;
}

body:before {
    background-image: url("../img/overlayLine.svg");
    background-size: 10px;
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
    opacity: 1;
    height: 100%;
    width: 100%;
}

header h1:hover {
    cursor: pointer;
    opacity: 0.8;
}

.hide {
    display: none;
}

body {
    background: transparent;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background-size: cover;
    flex-direction: column;
    overflow-x: hidden;
}

.container {
    max-width: 500px;
    min-width: 400px;
    background-color: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(5px);
    color: white;
    padding: 40px;
    border-radius: 10px;
    margin-top: 120px;
    margin-bottom: 40px !important;
}

.container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #3eb42e;
    font-size: 29px;
}

.accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 30%;
    width: 30%;
}

.accueil button {
    width: 100%;
}

h1 {
    font-weight: 1;
    margin: 0;
}

h2 {
    margin-top: 0;
}

input {
    margin: 0 0 10px;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 2px;
    color: black;
    width: 100%;
    padding: 5px 0;
}

label {
    opacity: 0.8;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px !important;
    margin-left: 15px;
}

.container-radio label {
    opacity: 1;
    font-weight: normal;
}

.container-radio {
    margin-bottom: 20px !important;
}

.input {
    height: 30px;
    display: block;
    align-content: center;
    border-radius: 1000px;
    padding: 5px 20px 5px 20px;
    width: calc(100% - 40px);
    margin-bottom: 20px !important;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
}

select {
    height: 40px;
    display: block;
    align-content: center;
    border-radius: 1000px;
    padding: 5px 20px 5px 20px;
    width: 100%;
    margin-bottom: 20px !important;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.5);
    color: black;
    transition: 0.3s;
}

select:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.6);
}

form a {
    margin-top: 10px;
}

input:focus, textarea:focus, select:focus {
    outline: none;
}

.input-btns {
    display: flex;
    justify-content: space-between;
}

label {
    margin-top: 20px;
    font-size: 20px;
}

.radio {
    width: auto;
}


.container-radio {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button {
    font-family: "Nunito Sans", sans-serif;
    font-size: 20px;
    font-weight: 400;
    min-width: 40px;
    color: #3eb42e;
    height: 40px;
    background: transparent;
    border-radius: 1000px;
    border: solid 2px #3eb42e;
    position: relative;
    transition: 0.3s;
    padding: 0 20px 0 20px;
}

.button:hover {
    cursor: pointer;
    background: #3eb42e;
    color: #fff;
}

a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    width: fit-content;
}

a:hover {
    color: #42c431;
    cursor: pointer;
}

.right {
    float: right;
}

.cancel {
    background: transparent;
    color: red;
    border: red 2px solid;
}

.cancel:hover {
    background: red;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input[type=number] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.upload-btn-wrapper {
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.upload-btn-wrapper:hover {
    cursor: pointer;
}

::-webkit-file-upload-button {
    background: #42c431;
    border: none;
    color: #F0F0F0FF;
    transition: 0.2s all;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 3px;
    height: auto;
    margin-left: .3em;
    margin-right: .5em;
}

.loading1, .loading2, .loading3 {
    background-color: #3eb42e;
    border-radius: 1000px;
    position: relative;
    margin-left: 0;
    transition: 1s;
}

.loading1 {
    position: absolute;
    left: 0;
    transform: translate(-50%, -50%);
    animation: loading1 linear infinite 1.2s;
}

.loading2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loading2 linear infinite 1.2s;
}

.loading3 {
    position: absolute;
    left: 100%;
    transform: translate(-50%, -50%);
    animation: loading3 linear infinite 1.2s;
}

.loading-content {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100px;
}

@keyframes loading1 {
    from {
        height: 30px;
        width: 30px;
    }
    25% {
        height: 15px;
        width: 15px;
    }
    50% {
        height: 0;
        width: 0;
    }
    75% {
        height: 15px;
        width: 15px;
    }
    to {
        height: 30px;
        width: 30px;
    }
}

@keyframes loading2 {
    from {
        height: 15px;
        width: 15px;
    }
    25% {
        height: 30px;
        width: 30px;
    }
    50% {
        height: 15px;
        width: 15px;
    }
    75% {
        height: 0;
        width: 0;
    }
    to {
        height: 15px;
        width: 15px;
    }
}

@keyframes loading3 {
    from {
        height: 0;
        width: 0;
    }
    25% {
        height: 15px;
        width: 15px;
    }
    50% {
        height: 30px;
        width: 30px;
    }
    75% {
        height: 15px;
        width: 15px;
    }
    to {
        height: 0;
        width: 0;
    }
}