header
    h1(onclick="window.location.href='./'") SportTrack
    button#header-burger.header-btn.header-burger(onclick='burgerMenu()')
    nav#menu
        button.header-btn.header-home(onclick="window.location.href='/'")
        button.header-btn.header-login(onclick="window.location.href='/register'") Register
        button.header-btn.header-login(onclick="window.location.href='/login'") Login

block content