header
    h1(onclick="window.location.href='./'") SportTrack
    button#header-burger.header-btn.header-burger(onclick='burgerMenu()')
    nav#menu
        button.header-btn.header-home(onclick="window.location.href='home'")
        button.header-btn.header-upload(onclick="window.location.href='upload'")
        button.header-btn.header-account(onclick="window.location.href='profile'")
        form(action='login/disconnect' method='get')
            button.header-btn.header-logout
block content
