extends layout

block content
    video#myVideo(preload='auto' playsinline='' autoplay='' muted='' loop='')
        source(src='/images/video.mp4' type='video/mp4')
    include header_connect


    .page-content
        .accueil
            .add-activity
                button.header-btn(onclick="window.location.href='?page=upload'")
                    | Add an activity
                    span +