extends layout

block content
    video#myVideo(preload='auto' playsinline='' autoplay='' muted='' loop='')
        source(src='/images/video.mp4' type='video/mp4')
    .page-content

        header
            h1(onclick="window.location.href='./'") SportTrack
            button#header-burger.header-btn.header-burger(onclick='burgerMenu()')
            nav#menu
                button.header-btn.header-home(onclick="window.location.href='./'")
                button.header-btn.header-upload(onclick="window.location.href='?page=upload'")
                button.header-btn.header-account(onclick="window.location.href='?page=profile'")
                form(action='./controller/DisconnectUserController.php' method='get')
                    button.header-btn.header-logout


        .accueil
            .add-activity
                button.header-btn(onclick="window.location.href='?page=upload'")
                    | Add an activity
                    span +