//Page d'accueil des utilisateurs non connectes

extends layout

block content
    .page-content
        video#myVideo(preload='auto' playsinline='' autoplay='' muted='' loop='')
            source(src='/images/video.mp4' type='video/mp4')
        include header_disconnect
        .first-page-content
            .img
                img(src='/images/preview.jpg' alt='')
            .slogan
                h2 MANAGE YOUR OUTINGS IN ONE CLICK WITH
                h1 SportTrack