doctype html
html(lang='en')
    head
        meta(name='viewport' content='width=device-width, maximum-scale=1.5')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='viewport' content='width=device-width, user-scalable=no')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        meta(charset='UTF-8')
        title SportTrack | Accueil
        link(href='/stylesheets/style.css' rel='stylesheet')
        link(href='/images/logo.svg' rel='icon')
    body.bg-image
        block content
        footer
            h3 SportTrack 2021
        script(src="/javascripts/global.js")