//- Page pour se connecter à son compte
extends layout

block content
    .page-content
        include header_disconnect
        .container
            h2 Login
            //- Formulaire de connexion
            form(action='login' method='post')
                label(for='email') Email
                input#email.input(name='email' required='' type='email')
                label(for='password') Password
                input#password.input(name='password' minlength='8' required='' type='password')
                .input-btns
                    button.button(onclick="window.location.href='register'" name='register') Register
                    button.button.right Login
                a(onclick="alert('not implemented yet')") Forgot password ?
        //- Notification
        -if (error)
            div.error.red#hideDiv Wrong password or email, please try again.
        - else if (!error && fromregister)
            div.error.green#hideDiv Register complete, please login.