//Page permettant de s'inscrire sur le site

extends layout

block content
    .page-content
        include header_disconnect
            .container
                h2 Register
                //Formulaire d'inscription
                form(action='register' method='post')
                    label(for='email') Email address
                    input#email.input(name='email' required='' type='text')
                    label(for='password') Password
                    input#password.input(minlength='8' name='password' required='' type='password')
                    label(for='confirm_password') Confirm passsword
                    input#confirm_password.input(minlength='8' name='confirm_password' required='' type='password')
                    label(for='lname') Last name
                    input#lname.input(name='lname' required='' type='text')
                    label(for='fname') First name
                    input#fname.input(name='fname' required='' type='text')
                    label(for='bdate') Birth date
                    input#bdate.input(name='bdate' onfocus="this.max=new Date().toISOString().split('T')[0]" required='' type='date')
                    label(for='gender') Gender
                    select#gender(name='gender')
                        option(value='M') Man
                        option(value='W') Women
                        option(value='O') Other
                    label(for='height') Height
                    input#height.input(min='0' name='height' oninput="validity.valid||(value='');" required='' type='number')
                    label(for='weight') Weight
                    input#weight.input(min='0' name='weight' oninput="validity.valid||(value='');" required='' type='number')
                    input.button.right(type='submit' value='Submit')
        //Notification
        -if (error)
            div.error.red#hideDiv User already created.