.container
    h2 Upload
    form(action='./controller/UploadActivityController.php' method='post' enctype='multipart/form-data')
        .upload-btn-wrapper
            input#file(accept='.json, application/json' name='file' required='' type='file')
        input.button(type='submit' value='Submit')
