extends layout

block content
    .page-content
        include header_connect
        .container
            h2 Upload
            form(action='upload' method='post' enctype='multipart/form-data')
                .upload-btn-wrapper
                    input#file(accept='.json, application/json' name='file' required='' type='file')
                input.button(type='submit' value='Submit')
        -if (error)
            div.error.red#hideDiv Activity cannot be imported. JSON file must be errored.